.application-button {
  position: fixed;
  margin-right: 60px;
  bottom: 20px;
  right: 20px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  top: 20px;
  z-index: 9999;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;;
}
.message-field{
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  height: 150px;
  margin-left: 20px;
  resize: none;
}
.popup-application {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  align-items: center;
  justify-content: center;
}
.popup-application-inner {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
  width: 550px;
  text-align: center;
  transform: scale(0.7);
  opacity: 0;
  animation: popup 0.3s ease-in-out forwards;
}
@keyframes popup-application {
  0% {
      transform: scale(0.7);
      opacity: 0;
 }
  100% {
      transform: scale(1);
      opacity: 1;
 }
}
.popup-application-inner h2 {
  margin-top: 0;
}
.popup-application-inner table {
  margin: 20px auto;
  width: 100%;
}
.popup-application-inner input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 16px;
}
.popup-application-inner button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.popup-application-inner button:hover {
  background-color: #0d8bf2;
}
.popup-application-inner button.cancel {
  margin-left: 10px;
  background-color: #ccc;
  color: #000;
  transition: all 0.3s ease;
}
.popup-application-inner button.cancel:hover {
  background-color: #aaa;
}
.popup-application-inner .form-group {
  display: flex;
  align-items: center;
}
.popup-application-inner .form-group label {
  width: 30%;
  margin-right: 10px;
}
.popup-application-inner .form-group input[type="text"] {
  width: 70%;
}
.popup-application-inner .form-group-border {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}
.popup-application-inner .form-group-border label {
  margin: 0;
  font-weight: bold;
}