body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header-hd {
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-hd h1 {
    font-size: 30px;
    margin: 0;
    padding: 5px;
    border-bottom: 2px solid #000;
}
.solar-panel-icon {
    display: flex;
    align-items: center;
    margin: 20px;
}
.solar-panel-icon img {
    width: 150px;
    margin-right: 10px;
}
.home-button {
    position: absolute;
    top: 45px;
    left: 20px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/1946/1946488.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    outline: none;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.panel1 {
    flex: 1 1 40%;
    margin: 10px;
    height: 300px;
}
.panel2 {
    flex: 1 1 40%;
    margin: 10px;
    height: 300px;
}
.panel3 {
    flex:1 1 40%;
    padding-top:55px;
    padding-right:25px;
    margin: 10px;
}
.panel4 {
    flex:1 1 40%;
    padding-top:25px;
    margin:10px;
    height:200px;
}
#data-box {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 200;
    animation: fadeIn 1s;
}
#data-value {
    font-size: 50px;
    margin-bottom: 10px;
}
#data-date {
    font-size: 18px;
    opacity: 0.5;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50%);
   }
    100% {
        opacity: 1;
        transform: translateY(0);
   }
}
.dropdown-menu select {
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
    outline: none;
}
.dropdown-menu select:hover {
    background-color: #e6e6e6;
}
.dropdown-menu label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}
.dropdown-menu {
    position: relative;
    display: inline-block;
}
.dropdown-menu:before {
    font-family: FontAwesome;
    font-size: 20px;
    position: absolute;
    top: 13px;
    right: 10px;
    color: #666;
}
.dropdown-menu select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.dropdown-menu select::-ms-expand {
    display: none;
}
@media (max-width: 768px) {
    .header-hd {
        background-size: cover;
        width: 100%;
   }
    .header-hd h1 {
        font-size: 20px;
   }
    .solar-panel-icon img {
        width: 100px;
   }
    .home-button {
        top: 35px;
        left: 15px;
        width: 25px;
   }
    .container {
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
   }
    .panel1, .panel2, .panel3, .panel4 {
        flex: 1 1 100%;
        margin: 10px 0;
        width: 100%;
        margin-top: 100px;
        height: 60%;
   }
    .dropdown-menu {
        display: block;
        position: absolute;
        top: 100px;
        height: 500px;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        padding: 10px;
   }
    #data-box {
        padding: 10px;
   }
    #data-value {
        font-size: 30px;
   }
    #data-date {
        font-size: 14px;
   }    
   .hide-graph {
    display: none;
  }
  .show-graph {
    display: block;
  }
}
@media screen and (min-width: 769px) {
    .dropdown-menu {
        display: none;
   }
}   